extends ../layout

block content
  h1 New Product
  
  form(action='/products/' method='POST')
    label(for='description') Description
    input(type='text', name='description', id='description')
    br
    label(for='category') Category
    input(type='text', name='category',id='category')
    br
    label(for='price') Price
    input(type='number', name='price', id='price')
    br
    input(type='submit')
