extends ../layout

block content
  h1 Products
  table(border="1")
    thead
      tr
        th Description
        th Category
        th Price
        th
          a(href='/products/blank') Nuevo
    tbody
      each product in products.docs
        tr
          td #{product.description}
          td #{product.category}
          td #{product.price}
